main{
    font-family: 'Futura';
}

.bg_slider{
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F6F6F6 100%)
}

main section{
    position: relative;
    box-sizing: border-box;
}   

.bg_container{
    position: relative;
}
.bg_img_slider{
    position: absolute;
    width: calc(1002vw/(1920/100));
    top: calc(0vw/(1080/100));
    right: calc(-25vw/(1920/100));
    z-index: 0;
}
.bg_img_slider img{
    width: 100%;
}

.ellips{
    position: absolute;
    right:calc(140vw/(1920/100));
    bottom: calc(46vw/(1080/100));
    width: calc(720vw/(1920/100));
    height: calc(720vw/(1920/100));
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    z-index: -1;
}
/* .ellips img{
    position: absolute;
    width: calc(1020vw/(1920/100));
    top: calc(-500vh/(1920/100));
    right: calc(-150vw/(1920/100));
} */

/* .ellips{
    position: absolute;
    right: 115px;
    top: 224px;
    width: 720px;
    height: 720px;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
} */

.container_slider{
    margin-top: calc(379vh/(1080/100));
    margin-left: 151px;
    width: 585px;
}

.lamp_title{
    margin-bottom:  calc(24vh/(1080/100));
}

.icon_slider{
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: calc(36vh/(1080/100));
    margin-right: 18px;
    margin-left: 35px;

}

.text_slider li:first-child .icon_slider{
    margin-left:  0;

}

.text_slider li{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #292725;
    font-family: 'Futura';
    font-weight: 600;
}

.text_slider li:last-child{
    margin-right: 0;
}

.icon_lampa{
    background-image: url('../resources/icons/lampa.png'); 
}

.icon_zrodlo{
    background-image: url('../resources/icons/zrodloswiatla.png'); 
}

.icon_kierunek{
    background-image: url('../resources/icons/kierunek.png'); 
}

.divider{
    width: 100%;
    height: 5px;
    margin: calc(38vh/(1080/100)) 0px calc(55vh/(1080/100)) 0;
    background: #E8E8E8;
    border-radius: 3px;
}

.dotstyle{
    z-index: 100;
}

.btn_slider{
    border: 1px solid #F8F8F8;
    

    margin: calc(112vh/(1080/100)) 0 0 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
                -5px -5px 10px #FFFFFF;
}

.btn_slider:hover{
    border: 1px solid #FFDB0F;
}

/* offer */
/* ================================================================================ */
.offer{
    text-align: center;
    padding: 135px 0 165px 0;
}

.offer div{
    margin: 0 auto;
    width: 585px;
}

/* partnership */
/* ================================================================================ */

.partnership{
    max-width: 1920px;
    display: flex;
    margin: 0 auto 100px auto;
    
}

.partnership .wrapper{
    position: relative;
    width: 50vw;
    height: 900px;
    background-color: #292725;
    overflow: hidden;
}



.bg_new_york{
    background: url('../resources/images/new_york.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    -webkit-transition: all 0.5s ease;;
    -moz-transition: all 0.5s ease;;
    -o-transition: all 0.5s ease;;
    transition: all 0.5s ease;

}

.filterr{
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }

.partnership * {
    color: #fff;
}

.partnership:hover .filterr {
    background-color: rgba(0,0,0, 0.3);
    -webkit-backdrop-filter: blur(9px);
    -moz-backdrop-filter: blur(9px);
    -ms-backdrop-filter: blur(9px);
    -o-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
}

.partnership:hover .bg_new_york{
    transform: scale(1.06);
}

.partnership_content_hidden{
    position: absolute;
    padding-top: 197px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 530px;
}



.list{
    margin-top: 31px;
}


.list .list_item, .partnership_content_hidden h3{
    margin: 20px;
    display: flex;
    opacity: 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
   
}

.list .list_item:nth-child(1), .partnership_content_hidden h3{
    -webkit-transform: translate3d(0,25%,0);
    transform: translate3d(0,25%,0)
}


.list .list_item:nth-child(2){
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0)
}
.list .list_item:nth-child(3){
    -webkit-transform: translate3d(0,75%,0);
    transform: translate3d(0,75%,0)
}
.list .list_item:nth-child(4){
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
}


.partnership:hover .list_item, .partnership:hover .partnership_content_hidden h3{
    /* animation-name: fadeInUp; */
    /* animation-duration: 0.7s;
    animation-fill-mode: forwards; */
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);


}

.list .list_item .item_outer{
    margin-right: 22px;
    width: 90px;
    height: 90px;
    border: 1px solid #E8E8E8;
}

.list .list_item h4{
    margin: 12px 0 6px 0;
    font-family: 'Futura';
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.1px;
}

.list .list_item span{
    color: #E8E8E8;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0.8px;

}




/* ========================================================== */

.partnership_content{
    width: 50vw;
    height: 900px;
    background-color: #292725;
    color: #fff;
}

.partnership_content_container .title,
.partnership_content_container .title_large,
.partnership_content_container .paragraph{
    
}
.partnership_content_container{
    margin: 0 auto;
    padding-top: 187px;
    width: 607px;
}

.btn_partnership{
    background-color: #292725;
    margin-top: 175px;
    color: #FFFFFF;
    box-shadow: 5px 5px 10px #211F1C,
                 -5px -5px 10px #4A4A4A7D;  
}

